// ***** The media mixin credit belongs to Nidhish Shah ******
// Article: https://dev.to/nidhishs/5-scss-mixins-to-check-out-2bkn
// GitHub: https://github.com/nidhishs

@mixin media(
  $from: false,
  $until: false,
  $and: false,
  $media-type: all
){
  $min-width: 0;
  $max-width: 0;
  $query: "";

  // FROM: this breakpoint (inclusive)
  @if $from {
    @if type-of($from) == number {
      $min-width: $from;
    } else {
    $min-width: map-get($breakpoints, $from);
  }
  }

  // UNTIL: this breakpoint (exclusive)
  @if $until {
    @if type-of($until) == number {
      $max-width: $until - 1px;
    } @else {
      $max-width: map-get($breakpoints, $until) - 1px;
    }
  }

  @if $min-width != 0 {
    $query: "#{$query} and (min-width: #{$min-width})";
  }

  @if $max-width != 0 {
    $query: "#{$query} and (max-width: #{$max-width})";
  }

  @if $and {
    $query: "#{$query} and (#{$and})";
  }

  @if ($media-type == "all" and $query != "") {
    $media-type: "";
    $query: str-slice(unquote($query), 6);
  }

  @media #{$media-type + $query} {
    @content;
  }
}

// Syntax ideas coming from
// 1. include-media ( https://github.com/eduardoboucas/include-media)
// 2. Fomantic-UI ( https://fomantic-ui.com/collections/grid.html )

@mixin mobile($constraint : false){
  @if $constraint == '>' {
    @include media($from: 'mobile') {
      @content;
    }
  } @else if $constraint == '<' {
    @include media($until: 'mobile') {
      @content;
    }
  } @else if $constraint == 'only' {
    @include media($from: 'mobile', $until: 'tablet') {
      @content;
    }
  } @else {
    @include media($until: 'mobile') {
      @content;
    }
  }
}

@mixin tablet($constraint : false){
  @if $constraint == '>' {
    @include media($from: 'tablet') {
      @content;
    }
  } @else if $constraint == '<' {
    @include media($until: 'tablet') {
      @content;
    }
  } @else if $constraint == 'only' {
    @include media($from: 'tablet', $until: 'laptop') {
      @content;
    }
  } @else {
    @include media($from: 'mobile') {
      @content;
    }
  }
}

@mixin laptop($constraint : false){
  @if $constraint == '>' {
    @include media($from: 'laptop') {
      @content;
    }
  } @else if $constraint == '<' {
    @include media($until: 'laptop') {
      @content;
    }
  } @else if $constraint == 'only' {
    @include media($from: 'laptop', $until: 'desktop') {
      @content;
    }
  } @else {
    @include media($from: 'tablet') {
      @content;
    }
  }
}


@mixin desktop($constraint : false){
  @if $constraint == '>' {
    @include media($from: 'desktop') {
      @content;
    }
  } @else if $constraint == '<' {
    @include media($until: 'desktop') {
      @content;
    }
  } @else if $constraint == 'only' {
    @include media($from: 'desktop') {
      @content;
    }
  } @else {
    @include media($from: 'laptop') {
      @content;
    }
  }
}

// Vertical Media Queries
@mixin tall() {
  @media(min-height: $short-tall-switch-point + 1px) {
    @content;
  }
}

@mixin short() {
  @media(max-height: $short-tall-switch-point) {
    @content;
  }
}
