// Entry point for your Sass build

@import 'framework/variables';
@import 'framework/media';

// Responsive Functions


h1 {
  font-weight: normal;

  @include mobile() {
    font-size: 3.5rem;
  }
  @include tablet() {
    font-size: 5.5rem;
  }

  @include laptop() {
    font-size: 7.5rem;
  }

  @include desktop() {
    font-size: 10.5rem;

    @include short() {
      color: blue;
    }

    @include tall() {
      color: red;
    }
  }
}